body {
    background-color: rgb(213, 235, 238);

}




.jumbotron {
    background-color:rgb(23, 135, 226);
    color: white;

}

.bg-primary {
    background-color: rgb(23, 135, 226);

}

footer {
    background-color: rgb(23, 135, 226);
    color: white;

}


